//main slider
section(class="main-slider")
	div(class="item" style=`background-image: url(${img_path}/slider/banner-1.jpg)`)
		div(class="container")
			div(class="slider-descripton")
				h1(class="slider-title") #{slider.title} 
				p(class="slider-text") #{slider.description}
				a(href="about.html" class="slider-btn") #{slider.btnText}
//main slider

//about us
section(class="about-us")
	div(class="container")
		div(class="content")
			div(class="row")
				div(class="col-lg-7")
					div(class="about-text" data-aos="fade-up")
						div(class="main-title")
							h2 #{about.title} 
						p #{about.description}

						ul
							each item in about_list
								li #{item}
						a(href="about.html" class="about-btn") #{about.about_more}
				div(class="col-lg-5")
					div(class="about-image" data-aos="fade-up" data-aos-delay="100")
						img(data-src=`${img_path}/about.png` class="img-fluid" alt="image")
//about us

//call to action
include ../components/cta.pug
//call to action

//awesome tours 
section(class="tours" style=`background-image: url(${img_path}/bgs/tours-bg.jpg)`)
	div(class="container")
		div(class="content")
			div(class="main-title")
				h2 #{awesome_tours.main_title}
			div(class="row")
				- for (let box = 0; box < 3; box++)
					div(class="col-lg-4 col-md-6 box" data-aos="fade-up" data-delay=box*50)
						div(class="tours-box")
							div(class="tours-image")
								a(href="single-tour.html" class="image") 
									img(data-src=`${img_path}/tours/tour-${box + 1}.jpg` alt="image")
								div(class="tours-badge") 
									span #{trans.sale_here} 
									span 25%
								div(class="tours-title") 
									a(href="single-tour.html") 
										h3 #{single_tour_box.title}
							div(class="tours-data")
								ul 
									- var list = ["78", "65", "251"]
									each item in list
										li 
											a(href="!#") 
												i(class="fa-solid fa-eye")
												span= item
							div(class="tours-details")
								div(class="tours-price")
									div
										span(class="price")
											sup $
											| #{(box + 1) * 150}
										span(class="duration") #{single_tour_box.duration}
									div(class="description") 
										p #{single_tour_box.description}
								div(class="tours-btns")
									a(href="single-tour.html" class="btn") #{trans.book_now}
									a(href="single-tour.html" class="btn") #{trans.add_to_list}
			div(class="know-more-btn")
				a(href="tours.html" class="btn") #{trans.know_more}
//awesome tours

//video
section(class="video" style=`background-image: url(${img_path}/bgs/video-bg.jpg)`)
	div(class="container")
		div(class="content")
			div(class="row")
				div(class="col-lg-5 col-md-5")
					div(class="video-details")
						div(class="main-title")
							h2 #{video.main_title}
							p #{video.description}
						a(href="tour-result.html" class="btn") #{trans.read_more}
				div(class="col-lg-7 col-md-7")
					div(class="video-iframe")
						img(data-src=`${img_path}/bgs/video-img.jpg` class="img-fluid" alt="image")
						div(class="btn-play")
							a(href="https://www.youtube.com/watch?v=kxPCFljwJws" data-fancybox="gallery" aria-label="video icon"): i(class="fa fa-play")
//video

//awesome hotels 
section(class="hotels" style=`background-image: url(${img_path}/bgs/hotels-bg.jpg)`)
	div(class="container")
		div(class="content")
			div(class="main-title")
				h2 #{awesome_hotels.main_title}
			div(class="row")
				- for (let box = 0; box < 4; box++)
					div(class="col-lg-6 col-md-6 box" data-aos="fade-up" data-delay=box*50)
						div(class="hotels-box")
							div(class="hotels-image")
								a(href="single-tour.html" class="image") 
									img(data-src=`${img_path}/hotels/hotel-${box + 1}.jpg` alt="image")
								div(class="hotels-badge") 
									span #{trans.sale_here}
									span 25%
								div(class="hotels-title") 
									a(href="single-tour.html") 
										h3 #{single_tour_box.title}
							div(class="hotels-details")
								div(class="hotels-price")
									div
										span(class="price")
											sup $
											| #{(box + 1) * 150}
										span(class="duration") #{single_tour_box.duration}
									div(class="description") 
										p #{single_tour_box.description}
								div(class="hotels-btns")
									a(href="single-tour.html" class="btn") #{trans.book_now}
							div(class="hotels-data")
								ul 
									- var list = ["78", "65", "251"]
									each item in list
										li 
											a(href="!#" aria-label="font icon"): i(class="fa-solid fa-eye")
												//- span #{item.list}
			div(class="know-more-btn")
				a(href="https://market.topagencytravel.com/" class="btn") #{trans.know_more}
//awesome hotels

//testimonials
section(class="testimonials" style=`background-image: url(${img_path}/bgs/testimonials-bg.jpg)`)
	div(class="container")
		div(class="content")
			div(class="row")
				div(class="col-lg-5 col-md-5")
					div(class="testimonials-text")
						div(class="main-title")
							h2 #{testimonials.main_title}
							p #{testimonials.description}
						a(href="tour-result.html" class="btn") #{trans.read_more}
				div(class="col-lg-7 col-md-7")
					div(class="testimonials-carousel owl-carousel owl-theme")
						- for (let box = 0; box < 3; box++)
							div(class="testimonials-box")
								div(class="image" style=`background-image: url(${img_path}/bgs/testimonials-bg.jpg)`)
									img(data-src=`${img_path}/testimonials/0${box + 1}.jpg` class="img-fluid" alt="image")
								div(class="details")
									div(class="name") #{testimonials.opinions.name}
									div(class="country") #{testimonials.opinions.countery}
									p #{testimonials.opinions.description}
//testimonials

//contact us
include ../components/contact.pug
//contact us
