section(class="testimonials" style=`background-image: url(${img_path}/bgs/testimonials-bg.jpg)`)
	div(class="container")
		div(class="content")
			div(class="row")
				div(class="col-lg-5 col-md-5")
					div(class="testimonials-text")
						div(class="main-title")
							h2 #{testimonials.main_title}
							p #{testimonials.description}
						block more_about_us
							a(href="contact.html" class="btn") #{trans.contact_us}
				div(class="col-lg-7 col-md-7")
					div(class="testimonials-carousel owl-carousel owl-theme")
						- for (let box = 0; box < 3; box++)
							div(class="testimonials-box")
								div(class="image" style=`background-image: url(${img_path}/bgs/testimonials-bg.jpg)`)
									img(src=`${img_path}/testimonials/0${box + 1}.jpg` class="img-fluid" alt="image")
								div(class="details")
									div(class="name") #{testimonials.opinions.name}
									div(class="country") #{testimonials.opinions.countery}
									p #{testimonials.opinions.description}