extend index

block website_title
	title #{trans.website_title} | #{trans.about_us}

block home_block
	//breadcrumb
	+breadcrumb(trans.about_us)
	//breadcrumb

	//about us
	section(class="about-us")
		div(class="container")
			div(class="content")
				div(class="row")
					div(class="col-lg-7")
						div(class="about-text" data-aos="fade-up")
							div(class="main-title")
								h2 #{about.title} 
							p #{about.description}

							ul
								each item in about_list
									li #{item}
					div(class="col-lg-5")
						div(class="about-image" data-aos="fade-up" data-aos-delay="100")
							img(data-src=`${img_path}/about.png` class="img-fluid" alt="image")
	//about us

	//testimonials
	include components/testimonials.pug
	//testimonials

	//partners
	include components/partners.pug
	//partners

	//call to action
	include components/cta.pug
	//call to action

	//contact us
	include components/contact.pug
	//contact us
